.start-screen {
    width: 100vw;
    // max-width: 100%;
    min-height: 100vh;
    background: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-bg {
    height: 100vh;
}

.start-label-box {
    position:  absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;

    img {
        width: 40vw;
        height: auto;

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}