.field {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: url('../../assets/img/board.jpg');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    
    img {
        position: absolute;
        width: 120px;
    }
}