.dialog {
  padding: 15px 20px;
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    filter: brightness(1.15);
  }
}

.mat-mdc-dialog-actions {
  margin-top: 15px;
}